.user-container{
    width: fit-content;
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins";
    font-weight: 400;
    margin-bottom: 20px;
    color: white;
    font-size: 42px;
    line-height: 42px;
}
.user-container:hover{
    color: rgb(202, 201, 201);
    cursor: pointer;
}